@page "/Admin/admin"
@using System.ComponentModel.DataAnnotations
@using ValhallaVaultCyberAwareness.Data.Models
@using ValhallaVaultCyberAwareness.Repositories
@inject IValhallaUow _uow
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<h1 class="mt-4 text-light text-center">Admin OverView</h1>

@if (categories == null)
{
    <p><em>Loading...</em></p>
}
else
{

    <div class="row ">
        @foreach (var category in categories)
        {

            <div class="col-md-12 mb-4 bg-black">
                <div class="card bg-black text-light">
                    <div class="card-body text-center">
                        <button class="btn btn-transparent text-light btn-lg mb-3" @onclick="() => OpenEditModal(category)">
                            <h1 class="card-title">@category.CategoryName</h1>
                        </button>
                        <div class="row">
                            @foreach (var segment in category.Segments)
                            {
                                <div class="col-md-4 bg-black my-3">

                                    <button class="btn btn-outline-transparent text-light mb-3" @onclick="() => OpenEditModal(segment)">
                                        <h2 class="card-title">@segment.SegmentName</h2>
                                    </button>
                                    <ul class="list-group list-group-flush">
                                        @foreach (var subCategory in segment.SubCategory)
                                        {
                                            <div class="d-flex col-12 align-items-center">
                                                <button type="button" class="btn btn-outline-light btn-lg flex-grow-1" @onclick="() => OpenEditModal(subCategory)">@subCategory.SubCategoryName</button>
                                                <button type="button" class="btn btn-outline-light dropdown-toggle dropdown-toggle-split btn-lg" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <span class="sr-only"></span>
                                                </button>
                                                <div class="dropdown-menu">
                                                    @foreach (var question in subCategory.Questions)
                                                    {
                                                        <button class="dropdown-item" type="button" @onclick="() => OpenEditModal(question)">Question: @question.Id</button>
                                                    }
                                                </div>
                                            </div>
                                        }
                                    </ul>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}

@if (selectedSubCategory != null)
{
    <div class="modal show" tabindex="-1" role="dialog" style="display: block;">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content bg-dark text-light">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Subcategory</h5>
                </div>
                <div class="modal-body">
                    <EditForm Model="selectedSubCategory" OnValidSubmit="HandleValidSubmit">
                        <div class="mb-3">
                            <label>Choose segment:</label>
                            <InputSelect @bind-Value="selectedSubCategory.SegmentId" class="form-select">
                                <option value="">None</option>
                                @foreach (var segment in segments)
                                {
                                    <option value="@segment.Id">@segment.SegmentName</option>
                                }
                            </InputSelect>
                        </div>
                        <DataAnnotationsValidator />
                        <div class="mb-3">
                            <label class="form-label" for="subCategoryName">Subcategory Name:</label>
                            <InputText class="form-control" id="subCategoryName" @bind-Value="selectedSubCategory.SubCategoryName" />
                            <ValidationMessage For="@(() => selectedSubCategory.SubCategoryName)" />
                            <!-- Delete button for subcategory -->
                            <button class="btn btn-outline-light" type="button" data-toggle="modal" data-target="#confirmationModal">Delete </button>
                        </div>
                        <div class="text-end">
                            <button class="btn btn-outline-light" type="submit">Save Changes</button>
                        </div>
                    </EditForm>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-light" @onclick="ClearSelected">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="confirmationModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"> Confirm Delete</h5>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" @onclick="() => DeleteItem(selectedSubCategory)" data-dismiss="modal">Yes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
}
@if (selectedCategory != null)
{
    <div class="modal show" tabindex="-1" role="dialog" style="display: block;">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content bg-dark text-light">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Category</h5>
                </div>
                <div class="modal-body bg-dark ">
                    <EditForm Model="selectedCategory" OnValidSubmit="HandleValidSubmit">
                        <DataAnnotationsValidator />
                        <div class="mb-3">
                            <label class="form-label" for="categoryName">Category Name:</label>
                            <InputText class="form-control" id="categoryName" @bind-Value="selectedCategory.CategoryName" />
                            <!-- Add delete button for category -->
                            <button class="btn btn-outline-light" type="button" data-toggle="modal" data-target="#confirmationModal">Delete </button>
                            <ValidationMessage For="@(() => selectedCategory.CategoryName)" />
                        </div>
                        <div class="text-end">
                            <button class="btn btn-outline-light" type="submit">Save Changes</button>
                        </div>
                    </EditForm>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-light" @onclick="ClearSelected" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="confirmationModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"> Confirm Delete</h5>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" @onclick="() => DeleteItem(selectedCategory)">Yes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
}
@if (selectedQuestion != null)
{
    <div class="modal show fade " tabindex="-1" role="dialog" style="display: block;">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content bg-dark text-light">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Category</h5>
                </div>
                <div class="modal-body bg-dark ">
                    <EditForm Model="selectedQuestion" OnValidSubmit="HandleValidSubmit">
                        <DataAnnotationsValidator />
                        <div class="mb-3">
                            <label class="form-label" for="question">Question:</label>
                            <InputText class="form-control" id="question" @bind-Value="selectedQuestion.Question" />
                            <br />
                            <label class="form-label" for="explaination">Explaination:</label>
                            <InputText class="form-control" id="explaination" @bind-Value="selectedQuestion.Explaination" />
                            <!-- Add delete button for Question -->
                            <button class="btn btn-outline-light" type="button" data-toggle="modal" data-target="#confirmationModal">Delete </button>
                            <ValidationMessage For="@(() => selectedQuestion.Question)" />
                        </div>
                        <div class="mb-3">

                            <label class="form-label">Prompts:</label>
                            @foreach (var prompt in selectedQuestion.Prompts)
                            {
                                <div class="input-group mb-3">
                                    <InputText class="form-control" @bind-Value="prompt.Prompt" />
                                    <!-- Add delete button for Prompt -->
                                    <button class="btn btn-outline-light" type="button" @onclick="() => DeleteItem(prompt)">Delete </button>
                                </div>
                            }

                        </div>
                        <div class="text-end">
                            <button class="btn btn-outline-light" type="submit">Save Changes</button>
                        </div>
                    </EditForm>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-light" @onclick="ClearSelected">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="confirmationModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"> Confirm Delete</h5>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" @onclick="() => DeleteItem(selectedQuestion)" data-dismiss="modal">Yes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>

}
@if (selectedSegment != null)
{

    <div class="modal show" tabindex="-1" role="dialog" style="display: block;">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content bg-dark text-light">
                <div class="modal-header">
                    <h5 class="modal-title">
                        Edit Segment
                    </h5>
                </div>
                <div class="modal-body bg-dark ">
                    <EditForm Model="selectedSegment" OnValidSubmit="HandleValidSubmit">
                        <div class="mb-3">
                            <label>Choose segment:</label>
                            <InputSelect @bind-Value="selectedSegment.CategoryId" class="form-select">
                                <option value="">None</option>
                                @foreach (var category in categories)
                                {
                                    <option value="@category.Id">@category.CategoryName</option>
                                }
                            </InputSelect>
                        </div>
                        <DataAnnotationsValidator />
                        <div class="mb-3">
                            <label class="form-label" for="segmentName">
                                Category
                                Name:
                            </label>
                            <InputText class="form-control" id="segmentName" @bind-Value="selectedSegment.SegmentName" />
                            <!-- Add delete button for category -->
                            <button class="btn btn-outline-light" type="button" data-toggle="modal" data-target="#confirmationModal">
                                Delete
                            </button>
                            <ValidationMessage For="@(() => selectedSegment.SegmentName)" />
                        </div>
                        <div class="text-end">
                            <button class="btn btn-outline-light" type="submit">
                                Save Changes
                            </button>
                        </div>
                    </EditForm>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-light" @onclick="ClearSelected">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="confirmationModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        Confirm Delete
                    </h5>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" @onclick="() => DeleteItem(selectedSegment)" data-dismiss="modal">
                        Yes
                    </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        No
                    </button>
                </div>
            </div>
        </div>
    </div>
}




@code {
    private List<CategoryModel> categories = [];
    private List<SegmentModel> segments = [];



    private SubCategoryModel? selectedSubCategory;
    private CategoryModel? selectedCategory;
    private QuestionModel? selectedQuestion;
    private SegmentModel? selectedSegment;


    protected override async Task OnInitializedAsync()
    {
        categories = await _uow.CategoryRepo.GetAllCategoriesWithSegmentsAndSubCategories();
        segments = await _uow.SegmentRepo.GetAllSegments();
        base.OnInitialized();

    }
    //open modal for edits based on the Object passed to the method
    private void OpenEditModal(object item)

    {
        if (item is CategoryModel category)
        {
            selectedCategory = category;
        }
        else if (item is SubCategoryModel subCategory)
        {
            selectedSubCategory = subCategory;

        }
        else if (item is SegmentModel segment)
        {
            selectedSegment = segment;
        }

        else if (item is QuestionModel question)
        {
            selectedQuestion = question;

        }
    }
    //delete based on whicg object is passed to the method
    private async Task DeleteItem(object item)
    {
        if (item is CategoryModel category)
        {
            selectedCategory = category;
            if (selectedCategory != null)
            {
                await _uow.CategoryRepo.DeleteCategory(selectedCategory.Id);
            }
        }
        else if (item is SubCategoryModel subCategory)
        {
            selectedSubCategory = subCategory;

            if (selectedSubCategory != null)
            {
                await _uow.SubCategoryRepo.DeleteSubCategory(selectedSubCategory.Id);
            }
        }
        else if (item is SegmentModel segment)
        {
            selectedSegment = segment;

            if (selectedSegment != null)
            {
                await _uow.SegmentRepo.DeleteSegment(selectedSegment.Id);
            }
        }

        else if (item is QuestionModel question)
        {
            selectedQuestion = question;

            if (selectedQuestion != null)
            {
                await _uow.QuestionRepo.DeleteQuestion(selectedQuestion.Id);
            }

        }

        else if (item is PromptModel prompt)
        {
            if (prompt != null)
            {
                await _uow.PromptRepo.DeletePrompt(prompt.Id);
            }
        }

        ClearSelected();
    }

    //logic for closing Edit Modal
    private void ClearSelected()
    {
        selectedSubCategory = null;
        selectedCategory = null;
        selectedSegment = null;
        selectedQuestion = null;
        StateHasChanged();
    }

    // Method to handle form submission
    private async Task HandleValidSubmit()
    {

        if (selectedCategory != null)
        {
            // Update category
            await _uow.CategoryRepo.UpdateCategory(selectedCategory);
        }
        else if (selectedSegment != null)
        {
            // Update segment
            await _uow.SegmentRepo.UpdateSegment(selectedSegment);
        }
        else if (selectedSubCategory != null)
        {
            // Update subcategory
            await _uow.SubCategoryRepo.UpdateSubCategory(selectedSubCategory);
        }
        else if (selectedQuestion != null)
        {
            //update question
            await _uow.QuestionRepo.UpdateQuestion(selectedQuestion);
        }
        ClearSelected();
        NavigationManager.NavigateTo(NavigationManager.ToBaseRelativePath(NavigationManager.Uri), true);
    }



}
